<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSCalendarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1600B9D1DD9A16200F0F650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1600BB61DD9A16200F0F650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1600BC11DD9A16200F0F650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
